@charset "UTF-8";
/*
    Todo id em HTML em CSS usa # (Usado somente uma vez por projeto) (podendo usando id e class no mesmo seletor)
    Todo Class em HTML em CSS usa . (usado quantas vezes necessária, podendo usar class no mesmo seletor.
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d6fde9;
}
h1{
    color: #1e402f;
}
h1#principal {
    color: white;
    background-color: #3c805e;
    text-align: center;
}

h2{
    color: #3c805e;
}
.basico{
    color: #a8a800;
}
.intermediario{
    color: #000094;
}
.avancado{
    color: #970000;
}
.destaque {
    background-color: #3c805e;
}